<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncre_system_idea.dao.EreProctorsDAO">
    <insert id="addOne">
        insert into ereproctors values (#{ereID},#{proctorID})
    </insert>
    <update id="update">
        UPDATE `ereproctors`
        SET `proctorID` =
                CASE
                    WHEN  `proctorID` = #{before1} THEN #{after1}
                    WHEN `proctorID` = #{before2} THEN #{after2}
                    ELSE `proctorID`
                    END
        WHERE `ereID` = #{ereID}
    </update>
    <delete id="deleteOne">
        delete from ereproctors where ereID=#{ereID}
    </delete>


    <select id="selectAll" resultMap="selectAll">
        SELECT examroomexam.*,exam.examName,exam.examTime,exam.examLocation,exam.examDate,examroom.examRoomName,examroom.seatCount
        FROM  examroomexam
                  LEFT JOIN exam ON examroomexam.examID=exam.examID
                  LEFT JOIN examroom ON examroomexam.examRoomID=examroom.examRoomID
    </select>
    <select id="selectAllById" resultMap="selectAll">
        SELECT examroomexam.*,exam.examName,exam.examTime,exam.examLocation,exam.examDate,examroom.examRoomName,examroom.seatCount
        FROM  examroomexam
                  LEFT JOIN exam ON examroomexam.examID=exam.examID
                  LEFT JOIN examroom ON examroomexam.examRoomID=examroom.examRoomID
        where examroomexam.ereID=#{id}
    </select>
    <select id="selectAllByName" resultMap="selectAll">
        SELECT examroomexam.*,exam.examName,exam.examTime,exam.examLocation,exam.examDate,examroom.examRoomName,examroom.seatCount
        FROM  examroomexam
                  LEFT JOIN exam ON examroomexam.examID=exam.examID
                  LEFT JOIN examroom ON examroomexam.examRoomID=examroom.examRoomID
        where exam.ExamName LIKE CONCAT('%', #{name}, '%')
    </select>
    <resultMap id="selectAll" type="com.example.ncre_system_idea.pojo.EreProctors">
        <id property="ereID" column="ereID"></id>
        <result property="examID" column="examID"></result>
        <result property="examName" column="examName"></result>
        <result property="examDate" column="examDate"></result>
        <result property="examTime" column="examTime"></result>
        <result property="examLocation" column="examLocation"></result>
        <result property="examRoomID" column="examRoomID"></result>
        <result property="examRoomName" column="examRoomName"></result>
        <result property="seatCount" column="seatCount"></result>
        <collection property="proctors" ofType="com.example.ncre_system_idea.pojo.Proctor" select="selectProctor" column="ereID">
        </collection>
    </resultMap>
    <select id="selectProctor" resultType="com.example.ncre_system_idea.pojo.Proctor">
        SELECT	proctors.*		FROM	ereproctors
        LEFT JOIN proctors ON ereproctors.proctorID=proctors.proctorID
        WHERE ereID=#{ereID}
    </select>

</mapper>