<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncre_system_idea.DAO.EreProctorsDAO">
    <insert id="addOne">
        insert into ereproctors values (#{ereID},#{proctorID})
    </insert>
    <update id="update">
        UPDATE `ereproctors`
        SET `proctorID` =
                CASE
                    WHEN  `proctorID` = #{before1} THEN #{after1}
                    WHEN `proctorID` = #{before2} THEN #{after2}
                    ELSE `proctorID`
                    END
        WHERE `ereID` = #{ereID}
    </update>
    <delete id="deleteOne">
        delete from ereproctors where ereID=#{ereID}
    </delete>


    <select id="selectAll" resultMap="selectAll">
        SELECT examroomexam.*,exam.ExamName,exam.ExamTime,exam.ExamLocation,exam.ExamDate,examroom.ExamRoomName,examroom.SeatCount,proctors.*
        FROM  examroomexam LEFT JOIN ereproctors   ON ereproctors.ereID=examroomexam.ereID
                                  LEFT JOIN exam ON examroomexam.examID=exam.ExamID
                                  LEFT JOIN examroom ON examroomexam.examRoomID=examroom.ExamRoomID
                                  LEFT JOIN proctors ON ereproctors.proctorID=proctors.ProctorID
    </select>
    <select id="selectAllById" resultMap="selectAll">
        SELECT * FROM  examroomexam LEFT JOIN ereproctors   ON ereproctors.ereID=examroomexam.ereID
                                  LEFT JOIN exam ON examroomexam.examID=exam.ExamID
                                  LEFT JOIN examroom ON examroomexam.examRoomID=examroom.ExamRoomID
                                  LEFT JOIN proctors ON ereproctors.proctorID=proctors.ProctorID
        where examroomexam.ereID=#{id}
    </select>
    <select id="selectAllByName" resultMap="selectAll">
        SELECT * FROM  examroomexam LEFT JOIN ereproctors   ON ereproctors.ereID=examroomexam.ereID
                                  LEFT JOIN exam ON examroomexam.examID=exam.ExamID
                                  LEFT JOIN examroom ON examroomexam.examRoomID=examroom.ExamRoomID
                                  LEFT JOIN proctors ON ereproctors.proctorID=proctors.ProctorID
        where exam.ExamName LIKE CONCAT('%', #{name}, '%')
    </select>
    <resultMap id="selectAll" type="com.example.ncre_system_idea.pojo.EreProctors">
        <id property="ereID" column="ereID"></id>
        <result property="examID" column="ExamID"></result>
        <result property="examName" column="ExamName"></result>
        <result property="examDate" column="ExamDate"></result>
        <result property="examTime" column="ExamTime"></result>
        <result property="examLocation" column="ExamLocation"></result>
        <result property="examRoomID" column="ExamRoomID"></result>
        <result property="examRoomName" column="ExamRoomName"></result>
        <result property="seatCount" column="SeatCount"></result>
        <collection property="proctors" ofType="com.example.ncre_system_idea.pojo.Proctor">
            <id property="proctorID" column="ProctorID"></id>
            <result property="teacherName" column="TeacherName"></result>
            <result property="age" column="Age"></result>
            <result property="gender" column="Gender"></result>
            <result property="phoneNumber" column="PhoneNumber"></result>
            <result property="email" column="Email"></result>
            <result property="username" column="Username"></result>
        </collection>
    </resultMap>
</mapper>