<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncre_system_idea.DAO.ExamRoomDAO">
    <insert id="addOne">
        insert into examroom values (null,#{examRoomName},#{seatCount})
    </insert>
    <update id="update">
        update examroom set
                           examRoomName=#{examRoomName},seatCount=#{seatCount}
                        where examRoomID=#{examRoomID}
    </update>
    <delete id="deleteOne">
        delete from examroom where examRoomID=#{examRoomID}
    </delete>
    <select id="selectAll" resultType="com.example.ncre_system_idea.pojo.ExamRoom">
        select * from examroom
    </select>
    <select id="selectAllById" resultType="com.example.ncre_system_idea.pojo.ExamRoom">
        select * from examroom where examRoomID=#{id}
    </select>
    <select id="selectAllByName" resultType="com.example.ncre_system_idea.pojo.ExamRoom">
        select * from examroom where examRoomName LIKE CONCAT('%', #{name}, '%')
    </select>
    <select id="selectIt" resultType="com.example.ncre_system_idea.pojo.ExamRoom">
        select * from
            examroom LEFT JOIN  (SELECT * from examroomexam WHERE examID=#{examID}) AS a
                                ON a.examRoomID = examroom.examRoomID
        WHERE a.ereId is NULL

    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT seatCount FROM examroom WHERE examRoomID=#{examRoomID}
    </select>
</mapper>