<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncre_system_idea.DAO.ExamDAO">
    <insert id="addOne">
        insert into exam values (null,#{examName},#{examDate},#{examTime},#{examLocation})
    </insert>
    <update id="update">
        update exam set
                            examName=#{examName},examDate=#{examDate},examTime=#{examTime},examLocation=#{examLocation}
        where examID=#{examID}
    </update>
    <delete id="deleteOne">
        delete from exam where examID=#{examID}
    </delete>


    <select id="selectAll" resultType="com.example.ncre_system_idea.pojo.Exam">
        select * from exam
    </select>
    <select id="selectAllById" resultType="com.example.ncre_system_idea.pojo.Exam">
        select * from exam where examID=#{id}
    </select>
    <select id="selectAllByName" resultType="com.example.ncre_system_idea.pojo.Exam">
        select * from exam where exam.examName LIKE CONCAT('%', #{name}, '%')
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        select COUNT(*) from exam
    </select>
    <select id="selectExamID" resultType="java.lang.Integer">
        SELECT examID FROM exam LIMIT #{start},1
    </select>
    <select id="selectAllExam" resultType="com.example.ncre_system_idea.pojo.Exam">
        select * from exam
    </select>
</mapper>