<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncre_system_idea.DAO.ProctorDAO">
    <insert id="addOne">
        insert into proctors values (null,#{teacherName},#{age},#{gender},#{phoneNumber},#{email},#{username})
    </insert>
    <update id="update">
    update proctors set
            TeacherName=#{teacherName},Age=#{age},Gender=#{gender},PhoneNumber=#{phoneNumber},Email=#{email}
            where ProctorID=#{proctorID}
    </update>
    <update id="updateProctor">
        update proctors set
                            TeacherName=#{teacherName},Age=#{age},Gender=#{gender},PhoneNumber=#{phoneNumber},Email=#{email}
        where ProctorID=#{proctorID}
    </update>
    <delete id="deleteOne">
        delete from proctors where ProctorID=#{proctorID}
    </delete>


    <select id="selectAll" resultType="com.example.ncre_system_idea.pojo.Proctor">
        select * from proctors
    </select>
    <select id="selectAllById" resultType="com.example.ncre_system_idea.pojo.Proctor">
        select * from proctors where ProctorID =#{id}
    </select>
    <select id="selectAllByName" resultType="com.example.ncre_system_idea.pojo.Proctor">
        select * from proctors where TeacherName LIKE CONCAT('%', #{name}, '%')
    </select>
    <select id="selectIt" resultType="com.example.ncre_system_idea.pojo.Proctor">
        SELECT proctors.* FROM proctors
                                   LEFT JOIN
                               (SELECT ereproctors.*,examroomexam.examID,examroomexam.examRoomID
                                FROM ereproctors LEFT JOIN examroomexam
                                                           ON ereproctors.ereID=examroomexam.ereID WHERE examID=#{examID})
                                   AS b
                               ON proctors.ProctorID= b.ProctorID
        WHERE ereID is NULL
    </select>
    <select id="selectOne" resultType="java.lang.String">
        select ProctorID from proctors limit #{start},1
    </select>
    <select id="selectProctorByUsername" resultType="com.example.ncre_system_idea.pojo.Proctor">
        select  * from proctors where Username=#{username}
    </select>
    <select id="selectExamMsgByUsername" resultMap="selectExamMsg">
        select * from proctors left join ereproctors on proctors.ProctorID =ereproctors.proctorID
            LEFT JOIN examroomexam ON ereproctors.ereID=examroomexam.ereID
                 WHERE Username =#{username}
    </select>
    <resultMap id="selectExamMsg" type="com.example.ncre_system_idea.pojo.Proctor">
        <id property="proctorID" column="ProctorID"></id>
        <result property="teacherName" column="TeacherName"></result>
        <result property="age" column="Age"></result>
        <result property="gender" column="Gender"></result>
        <result property="phoneNumber" column="PhoneNumber"></result>
        <result property="email" column="Email"></result>
        <result property="username" column="Username"></result>
        <association property="exam" javaType="com.example.ncre_system_idea.pojo.Exam" select="selectExam" column="ExamID"></association>
        <association property="examRoom" javaType="com.example.ncre_system_idea.pojo.ExamRoom" select="selectExamRoom" column="examRoomID"></association>
    </resultMap>
    <select id="selectExam" resultType="com.example.ncre_system_idea.pojo.Exam">
        select * from  exam where ExamID=#{ExamID}
    </select>
    <select id="selectExamRoom" resultType="com.example.ncre_system_idea.pojo.ExamRoom">
        select * from  examroom where ExamRoomID=#{examRoomID}
    </select>
</mapper>