<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncre_system_idea.DAO.ProctorDAO">
    <insert id="addOne">
        insert into proctors values (null,#{teacherName},#{age},#{gender},#{phoneNumber},#{email},#{username})
    </insert>
    <update id="update">
    update proctors set
            TeacherName=#{teacherName},Age=#{age},Gender=#{gender},PhoneNumber=#{phoneNumber},Email=#{username}
            where ProctorID=#{proctorID}
    </update>
    <delete id="deleteOne">
        delete from proctors where ProctorID=#{proctorID}
    </delete>


    <select id="selectAll" resultType="com.example.ncre_system_idea.pojo.Proctor">
        select * from proctors
    </select>
    <select id="selectAllById" resultType="com.example.ncre_system_idea.pojo.Proctor">
        select * from proctors where ProctorID =#{id}
    </select>
    <select id="selectAllByName" resultType="com.example.ncre_system_idea.pojo.Proctor">
        select * from proctors where TeacherName LIKE CONCAT('%', #{name}, '%')
    </select>
</mapper>