<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncre_system_idea.DAO.SignUpStatusDAO">
    <update id="updateSignUpStatus">
        update signupstatus set signUpStatus=#{signUpStatus}
    </update>
    <update id="updateAssignStudentStatus">
        update signupstatus set assignStudentStatus=#{assignStudentStatus}
    </update>
    <update id="updateAssignProctorStatus">
        update signupstatus set assignProctorStatus=#{assignProctorStatus}
    </update>
    <update id="updateSignUpOverStatus">
        update signupstatus set signUpOverStatus=#{signUpOverStatus}
    </update>

    <select id="selectSignUpStatus" resultType="java.lang.Boolean">
        select signUpStatus from signupstatus
    </select>
    <select id="selectAssignStudentStatus" resultType="java.lang.Boolean">
        select assignStudentStatus from signupstatus
    </select>
    <select id="selectAssignProctorStatus" resultType="java.lang.Boolean">
        select assignProctorStatus from signupstatus
    </select>
    <select id="selectSignUpOverStatus" resultType="java.lang.Boolean">
        select signUpOverStatus from signupstatus
    </select>
</mapper>