<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncre_system_idea.DAO.StudentDAO">
    <insert id="addOne">
        insert into student values (null,#{name},#{gender},#{age},#{phoneNumber},#{email},#{examID},
                                    #{examRoomID},#{seatCountseatCount},#{username})
    </insert>
    <insert id="registerOne">
        insert into student values (null,#{name},#{gender},#{age},#{phoneNumber},#{email},null,
                                    null,null,#{username})
    </insert>
    <update id="update">
        update student set
                           Name = #{name},gender=#{gender},age=#{age},phoneNumber=#{phoneNumber},email=#{email},examID=#{examID},
                           examRoomID=#{examRoomID},seatCount=#{seatCount}
        where studentID=#{studentID}
    </update>
    <update id="updateAssignSeat">
        UPDATE student
        SET examRoomID = #{examRoomID}, seatCount = #{seatCount}
        WHERE examID=#{examID} AND examRoomID IS NULL AND seatCount IS NULL
        LIMIT 1;
    </update>
    <update id="updateStudent">
        update student set
                           name = #{name},gender=#{gender},age=#{age},phoneNumber=#{phoneNumber},email=#{email}
        where studentID=#{studentID}
    </update>
    <update id="signUpExam">
        update student set
                           examID=#{examID}
        where username=#{username}
    </update>
    <delete id="deleteOne">
        delete from student where studentID=#{studentID}
    </delete>
    <select id="selectAll" resultType="com.example.ncre_system_idea.pojo.Student">
        select * from student
    </select>
    <select id="selectAllById" resultType="com.example.ncre_system_idea.pojo.Student">
        select * from student where studentID=#{id}
    </select>
    <select id="selectAllByName" resultType="com.example.ncre_system_idea.pojo.Student">
        select * from student where name LIKE CONCAT('%', #{name}, '%')
    </select>
    <select id="selectStudentOfExamRoom" resultType="com.example.ncre_system_idea.pojo.Student">
        select * from student where examID=#{examID} and examRoomID=#{examRoomID}
    </select>
    <select id="checkStudent" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM student WHERE examID is NOT NULL AND examRoomID IS NULL AND seatCount is NULL
    </select>
    <select id="selectStudentByUsername" resultType="com.example.ncre_system_idea.pojo.Student">
        select * from student where username=#{username}
    </select>
    <select id="getIsSignUp" resultType="java.lang.String">
        select examID from student where username=#{username}
    </select>
    <select id="selectSingUpOverStudent" resultMap="selectSingUpOverStudentMap">
        select * from student where username=#{username}
    </select>
    <resultMap id="selectSingUpOverStudentMap" type="com.example.ncre_system_idea.pojo.Student">
        <id property="studentID" column="studentID"></id>
        <result property="name" column="name"></result>
        <result property="gender" column="gender"></result>
        <result property="age" column="age"></result>
        <result property="phoneNumber" column="phoneNumber"></result>
        <result property="email" column="email"></result>
        <result property="examID" column="examID"></result>
        <result property="examRoomID" column="examRoomID"></result>
        <result property="seatCount" column="seatCount"></result>
        <result property="username" column="username"></result>
        <association property="exam" column="examID" select="selectExam" javaType="com.example.ncre_system_idea.pojo.Exam"></association>
        <association property="examRoom" column="examRoomID" select="selectExamRoom" javaType="com.example.ncre_system_idea.pojo.ExamRoom">
        </association>
    </resultMap>
    <select id="selectExam" resultType="com.example.ncre_system_idea.pojo.Exam">
        select * from exam where examID=#{examID}
    </select>
    <select id="selectExamRoom" resultType="com.example.ncre_system_idea.pojo.ExamRoom">
        select * from examroom where examRoomID=#{examRoomID}
    </select>
</mapper>