<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncre_system_idea.DAO.StudentDAO">
    <insert id="addOne">
        insert into student values (null,#{name},#{gender},#{age},#{phoneNumber},#{email},#{examID},
                                    #{examRoomID},#{seatID},#{username})
    </insert>
    <update id="update">
        update student set
                           Name = #{name},Gender=#{gender},Age=#{age},PhoneNumber=#{phoneNumber},Email=#{email},ExamID=#{examID},
                           ExamRoomID=#{examRoomID},SeatID=#{seatID}
        where StudentID=#{studentID}
    </update>
    <update id="updateAssignSeat">
        UPDATE student
        SET ExamRoomID = #{examRoomID}, SeatID = #{seatID}
        WHERE ExamID=#{examID} AND ExamRoomID IS NULL AND SeatID IS NULL
        LIMIT 1;
    </update>
    <delete id="deleteOne">
        delete from student where StudentID=#{studentID}
    </delete>
    <select id="selectAll" resultType="com.example.ncre_system_idea.pojo.Student">
        select * from student
    </select>
    <select id="selectAllById" resultType="com.example.ncre_system_idea.pojo.Student">
        select * from student where StudentID=#{id}
    </select>
    <select id="selectAllByName" resultType="com.example.ncre_system_idea.pojo.Student">
        select * from student where Name LIKE CONCAT('%', #{name}, '%')
    </select>
    <select id="selectStudentOfExamRoom" resultType="com.example.ncre_system_idea.pojo.Student">
        select * from student where ExamID=#{examID} and ExamRoomID=#{examRoomID}
    </select>
    <select id="checkStudent" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM student WHERE ExamID is NOT NULL AND ExamRoomID IS NULL AND SeatID is NULL
    </select>
</mapper>