<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncre_system_idea.DAO.UserDAO">
    <insert id="addOne">
        insert into user values (null,#{username},#{password},#{aesKey},#{userType})
    </insert>
    <update id="update">
        update user set
                           username = #{username},password=#{password},aesKey=#{aesKey},userType=#{userType}
        where userID=#{userID}
    </update>
    <update id="changPassword">
        update user set
                        password=#{password},aesKey=#{aesKey}
        where username=#{username}
    </update>
    <delete id="deleteOne">
        delete from user where userID=#{userID}
    </delete>

    <select id="selectAll" resultType="com.example.ncre_system_idea.pojo.User">
        select userID, username, password, userType from user
    </select>
    <select id="selectAllById" resultType="com.example.ncre_system_idea.pojo.User">
        select userID, username, password, userType from user where userID=#{id}
    </select>
    <select id="selectAllByName" resultType="com.example.ncre_system_idea.pojo.User">
        select userID, username, password, userType from user where username LIKE CONCAT('%', #{name}, '%')
    </select>
    <select id="findProctors" resultType="com.example.ncre_system_idea.pojo.Proctor">
        SELECT a.userID , a.username , b.proctorID
        FROM (SELECT * FROM `user` WHERE userType='proctor') AS a
                 LEFT JOIN  proctors AS b
                            ON a.username = b.username
        WHERE b.proctorID is NULL;
    </select>
    <select id="findStudents" resultType="com.example.ncre_system_idea.pojo.Student">
        SELECT a.userID , a.username , b.studentID
        FROM (SELECT * FROM `user` WHERE userType='student') AS a
                 LEFT JOIN  student AS b
                            ON a.username = b.username
        WHERE b.studentID is NULL;
    </select>
    <select id="selectUsername" resultType="java.lang.String">
        select * from user where username=#{username}
    </select>
</mapper>