<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncre_system_idea.DAO.UserDAO">
    <insert id="addOne">
        insert into user values (null,#{username},#{password},#{userType})
    </insert>
    <update id="update">
        update user set
                           Username = #{username},Password=#{password},UserType=#{userType}
        where UserID=#{userID}
    </update>
    <delete id="deleteOne">
        delete from user where UserID=#{userID}
    </delete>

    <select id="selectAll" resultType="com.example.ncre_system_idea.pojo.User">
        select * from user
    </select>
    <select id="selectAllById" resultType="com.example.ncre_system_idea.pojo.User">
        select * from user where UserID=#{id}
    </select>
    <select id="selectAllByName" resultType="com.example.ncre_system_idea.pojo.User">
        select * from user where Username LIKE CONCAT('%', #{name}, '%')
    </select>
    <select id="findProctors" resultType="com.example.ncre_system_idea.pojo.User">
        SELECT a.UserID , a.Username , b.ProctorID
        FROM (SELECT * FROM `user` WHERE UserType='proctor') AS a
                 LEFT JOIN  proctors AS b
                            ON a.Username = b.Username
        WHERE b.ProctorID is NULL;
    </select>
    <select id="findStudents" resultType="com.example.ncre_system_idea.pojo.Student">
        SELECT a.UserID , a.Username , b.StudentID
        FROM (SELECT * FROM `user` WHERE UserType='student') AS a
                 LEFT JOIN  student AS b
                            ON a.Username = b.Username
        WHERE b.StudentID is NULL;
    </select>
</mapper>